In [38]:
import pandas as pd
import numpy as np
from math import prod
from itertools import product

In [22]:
df = pd.read_csv('spam.data',header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [23]:
print(len(df.columns))
df.describe()

58

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.104553,0.213015,0.280656,0.065425,0.312223,0.095901,0.114208,0.105295,0.090067,0.239413,...,0.038575,0.139030,0.016976,0.269071,0.075811,0.044238,5.191515,52.172789,283.289285,0.394045
std,0.305358,1.290575,0.504143,1.395151,0.672513,0.273824,0.391441,0.401071,0.278616,0.644755,...,0.243471,0.270355,0.109394,0.815672,0.245882,0.429342,31.729449,194.891310,606.347851,0.488698
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.276000,15.000000,95.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.315000,0.052000,0.000000,3.706000,43.000000,266.000000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000,1.000000

### finding correlations:

In [24]:
corrs = df.corr()[57].sort_values(key=np.abs,ascending=False)[1:]
corrs

20    0.383234
22    0.334787
6     0.332117
52    0.323629
18    0.273651
15    0.263215
16    0.263204
24   -0.256723
56    0.249164
4     0.241920
51    0.241888
10    0.234529
25   -0.232968
5     0.232604
8     0.231551
23    0.216111
55    0.216097
7     0.206808
17    0.204208
2     0.196988
14    0.195902
19    0.189761
26   -0.183404
36   -0.178045
29   -0.171095
27   -0.158800
34   -0.149225
45   -0.146138
44   -0.140408
9     0.138962
41   -0.136615
35   -0.136134
42   -0.135664
28   -0.133523
12    0.132927
30   -0.126912
0     0.126208
38   -0.122831
32   -0.119931
31   -0.114214
33   -0.112754
54    0.109999
40   -0.097375
43   -0.094594
21    0.091860
49   -0.089672
47   -0.084020
53    0.065067
39   -0.064801
50   -0.064709
13    0.060027
48   -0.059630
3     0.057371
46   -0.044679
37   -0.031035
1    -0.030224
11    0.007741
Name: 57, dtype: float64

### Third quartile is selected as threshold(corr>=0.2)

In [25]:
pd.DataFrame(corrs).describe()

              57
count  57.000000
mean    0.042200
std     0.179330
min    -0.256723
25%    -0.122831
50%     0.007741
75%     0.216097
max     0.383234

### Number of Feature:<br/>
58<br/>
### Features Description:<br/>
Data includes of scaled frequency of some selected words(continuous numeric). It also includes of the length of each document(discrete numeric). The last column is the spam label(Nominal)<br/>
### Feature usability:</br>
No feature is strongly correlated with the spam column but some are more useful

### Programming learning algorithms and tuning their parameters to the best via grid search k fold cross validation:

In [28]:
def train_test_split(df, train_size=0.7):
    df = np.array(df)
    return df[:int(len(df)*train_size)], df[int(len(df)*train_size):]

In [29]:
train, test = train_test_split(df,train_size=0.7)
X_train, Y_train = train[:,:-1], train[:,-1:]
X_test, Y_test = test[:,:-1], test[:,-1:]

In [30]:
class BaseModel:
    def f1(self, Y_pred, Y_real):
        TP = np.sum(Y_pred * Y_real)
        FP = len(Y_pred[(Y_pred == 1) & (Y_real == 0)])
        FN = len(Y_pred[(Y_pred == 0) & (Y_real == 1)])
        if TP + FP == 0 or TP + FN == 0:
            return None
        presicion = TP / (TP + FP)
        recall = TP / (TP + FN)
        return  2 * presicion * recall / (recall + presicion)

In [31]:
class KNeighborsClassifier(BaseModel):
    def __init__(self, n_neighbors, weights, p):
        self.n_neighbors, self.weights, self.p = n_neighbors, weights, p
    def fit(self, X, Y):
        self.X, self.Y = X, Y
    def predict(self, X):
        predictions = np.array([])
        if self.weights == 'uniform':
            for x in X:
                XY = np.hstack(
                    [
                        self.Y,
                        np.power(
                            np.sum(
                                np.power(x - self.X,self.p),
                                axis=1),
                                1/self.p).reshape(-1,1)])
                XY = XY[XY[:,1].argsort()][:self.n_neighbors]
                counts = np.array(np.unique(XY[:,0],return_counts=True)).T
                predictions = np.append(predictions,counts[counts[:,1].argsort()][-1,0])
        elif self.weights == 'distance':
            for x in X:
                XY = np.hstack(
                    [
                        self.Y,
                        np.power(
                            np.sum(
                                np.power(x - self.X,self.p),
                                axis=1),
                                1/self.p).reshape(-1,1)])
                XY = XY[XY[:,1].argsort()][:self.n_neighbors]
                XY[:,1] = 1/XY[:,1]
                label_scores = np.array([[item,np.sum(XY[XY[:,0] == item,1])] for item in np.unique(XY[:,0])])
                predictions = np.append(predictions,label_scores[np.argmax(label_scores[:,1]),0])
        return predictions

In [32]:
class MultinomialNB(BaseModel):
    def __init__(self, alpha=1, fit_prior=True):
        self.alpha, self.fit_prior = alpha, fit_prior
    def fit(self, X, Y):
        self.table = np.hstack([X,Y])
        self.label_counts = np.unique(Y,return_counts=True)
        if self.fit_prior:
            self.prior_prob = {label: self.label_counts[1][index]/ len(Y) for index, label in enumerate(self.label_counts[0])}
        else:
            self.prior_prob = {label: 1 for label in self.label_counts[0]}
    def predict(self, X):
        predictions = np.array([])
        labels = self.label_counts[0]
        for row in X:
            pred_label = None
            pred_label_prob = 0
            for label in labels:
                label_masking = self.table[:,-1] == label
                label_count = len(self.table[(label_masking)])
                label_prob = prod(
                    [
                        (len(self.table[(self.table[:,index] == x) & (label_masking)]) + self.alpha)/
                                (label_count + self.alpha * len(np.unique(self.table[:,index])))
                                  for index,x in enumerate(row)]) * self.prior_prob[label]
                if label_prob > pred_label_prob:
                    pred_label = label
                    pred_label_prob = label_prob
            predictions = np.append(predictions, pred_label)
        return predictions

In [33]:
class gridSearchCV:
    def __init__(self, estimator, param_grid, cv):
        self.estimator, self.cv, param_grid = estimator, cv, param_grid
        self.combs = list(product(*[param_grid[key] for key in param_grid]))
        self.entries = list(param_grid)
    def fit(self, data):
        best_comb = None
        best_comb_score = 0
        for comb in self.combs:
            est = self.estimator(*comb)
            comb_scores = []
            chunks = np.array_split(data, self.cv)
            for i in range(self.cv):
                train_data = np.vstack(chunks[i+1:] + chunks[:i])
                test_data = chunks[i]
                X_train, Y_train = train_data[:,:-1], train_data[:,-1:]
                X_test, Y_test = test_data[:,:-1], test_data[:,-1:]
                est.fit(X_train, Y_train)
                Y_predicted = est.predict(X_test)
                score = est.f1(Y_predicted, Y_test.reshape(-1))
                if score != None:
                    comb_scores.append(score)
            comb_score = sum(comb_scores) / len(comb_scores)
            if comb_score > best_comb_score:
                best_comb_score = comb_score
                best_comb = comb
        return self.estimator(*best_comb) ,best_comb, best_comb_score

In [223]:
knn_params = {
    'n_neighbors': np.arange(1,16),
    'weights': ['uniform','distance'],
    'p': np.arange(1, 4)
}
knn, best_comb, best_comb_score = gridSearchCV(KNeighborsClassifier, knn_params, 10).fit(np.array(df))
print(best_comb)
print(best_comb_score)
knn.fit(X_train,Y_train)
Y_predicted = knn.predict(X_test)
knn.f1(Y_predicted, Y_test.reshape(-1))

C:\Users\ycn\AppData\Local\Temp\ipykernel_17544\1517896751.py:13: RuntimeWarning: invalid value encountered in power
  np.power(
C:\Users\ycn\AppData\Local\Temp\ipykernel_17544\1517896751.py:32: RuntimeWarning: divide by zero encountered in divide
  XY[:,1] = 1/XY[:,1]
C:\Users\ycn\AppData\Local\Temp\ipykernel_17544\1517896751.py:26: RuntimeWarning: invalid value encountered in power
  np.power(

(1, 'uniform', 1)
0.992152466367713

### KNN params: only the first nearest neighbor and uniform weights for data points works best via Manhattan distance

In [225]:
mnb_params = {
    'alpha': np.arange(1,3),
    'fit_prior': [True, False],
    }
mnb, best_comb, best_comb_score = gridSearchCV(MultinomialNB, mnb_params, 10).fit(np.array(df))
print(best_comb)
print(best_comb_score)
mnb.fit(X_train,Y_train)
Y_predicted = mnb.predict(X_test)
mnb.f1(Y_predicted, Y_test.reshape(-1))

(1, False)
0.8187101118368874

### Multinomial Naive Bayes params: alpha = 1 with uniform prior probabilities works fine.

### Training errors:

In [227]:
print('knn training error: ',knn.f1(knn.predict(X_train), Y_train.reshape(-1)))
print('mnb training error: ',mnb.f1(mnb.predict(X_train), Y_train.reshape(-1)))

knn training error:  0.7204450625869263
mnb training error:  0.9215339233038349

### Filtering df(corr>0.2)

In [26]:
df = df[list(corrs[corrs > 0.2].index) + [df.columns[-1]]]
df

,20,22,6,52,18,15,16,56,4,51,10,5,8,23,55,7,17,57
0,0.96,0.00,0.00,0.000,1.93,0.32,0.00,278,0.32,0.778,0.00,0.00,0.00,0.00,61,0.00,1.29,1
1,1.59,0.43,0.21,0.180,3.47,0.14,0.07,1028,0.14,0.372,0.21,0.28,0.00,0.43,101,0.07,0.28,1
2,0.51,1.16,0.19,0.184,1.36,0.06,0.06,2259,1.23,0.276,0.38,0.19,0.64,0.06,485,0.12,1.03,1
3,0.31,0.00,0.31,0.000,3.18,0.31,0.00,191,0.63,0.137,0.31,0.00,0.31,0.00,40,0.63,0.00,1
4,0.31,0.00,0.31,0.000,3.18,0.31,0.00,191,0.63,0.135,0.31,0.00,0.31,0.00,40,0.63,0.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.00,0.00,0.00,0.000,0.62,0.00,0.00,88,0.00,0.000,0.00,0.31,0.00,0.00,3,0.00,0.00,0
4597,2.00,0.00,0.00,0.000,6.00,0.00,0.00,14,0.00,0.353,0.00,0.00,0.00,0.00,4,0.00,0.00,0
4598,0.30,0.00,0.00,0.000,1.50,0.00,0.00,118,0.00,0.000,0.00,0.00,0.00,0.00,6,0.00,0.90,0
4599,0.32,0.00,0.00,0.000,1.93,0.00,0.00,78,0.32,0.000,0.00,0.00,0.00,0.00,5,0.00,0.00,0
4600,0.65,0.00,0.00,0.000,4.60,0.00,0.00,40,0.00,0.125,0.00,0.00,0.00,0.00,5,0.00,0.00,0

### Repeating the process all over again:

In [34]:
train, test = train_test_split(df,train_size=0.7)
X_train, Y_train = train[:,:-1], train[:,-1:]
X_test, Y_test = test[:,:-1], test[:,-1:]

In [35]:
knn_params = {
    'n_neighbors': np.arange(1,16),
    'weights': ['uniform','distance'],
    'p': np.arange(1, 4)
}
knn, best_comb, best_comb_score = gridSearchCV(KNeighborsClassifier, knn_params, 10).fit(np.array(df))
print(best_comb)
print(best_comb_score)
knn.fit(X_train,Y_train)
Y_predicted = knn.predict(X_test)
knn.f1(Y_predicted, Y_test.reshape(-1))

C:\Users\ycn\AppData\Local\Temp\ipykernel_24964\1517896751.py:13: RuntimeWarning: invalid value encountered in power
  np.power(
C:\Users\ycn\AppData\Local\Temp\ipykernel_24964\1517896751.py:32: RuntimeWarning: divide by zero encountered in divide
  XY[:,1] = 1/XY[:,1]
C:\Users\ycn\AppData\Local\Temp\ipykernel_24964\1517896751.py:26: RuntimeWarning: invalid value encountered in power
  np.power(

(1, 'uniform', 1)
0.992152466367713

In [36]:
mnb_params = {
    'alpha': np.arange(1,3),
    'fit_prior': [True, False],
    }
mnb, best_comb, best_comb_score = gridSearchCV(MultinomialNB, mnb_params, 10).fit(np.array(df))
print(best_comb)
print(best_comb_score)
mnb.fit(X_train,Y_train)
Y_predicted = mnb.predict(X_test)
mnb.f1(Y_predicted, Y_test.reshape(-1))

(1, False)
0.8079798007813941

In [37]:
print('knn training error: ',knn.f1(knn.predict(X_train), Y_train.reshape(-1)))
print('mnb training error: ',mnb.f1(mnb.predict(X_train), Y_train.reshape(-1)))

knn training error:  0.7204450625869263
mnb training error:  0.8500471549827099

### Removing the unnecessary data did not make any difference.